.align-right {
  text-align: right;
  p, a, img {
    text-align: right;
  }
}

.m0, .button.m0 {
  margin: 0;
}

.m1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mthalf {
  margin-top: 0.5rem;
}

.mt0 {
  margin-top: 0rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mbhalf {
  margin-bottom: 0.5rem;
}

.mb0 {
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mr {
  margin-right: 0.33rem;
}

.mr1 {
  margin-right: 0.66rem;
}

.ml {
  margin-left: 0.33rem;
}

.ml1 {
  margin-left: 0.55rem;
}

.p0 {
  padding: 0;
}

.pl0 {
  padding-left: 0;
}

.pb0 {
  padding-bottom: 0;
}
