// Titles
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-family: $font-train;
  color: $dark;
  text-transform: uppercase;
  font-weight: 800;
  margin: 0 0 1rem 0;
  letter-spacing: -0.07em;
}

h1, .h1, h1 a {
  font-size: 3rem;

  @media (max-width: 767px) {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: 2.5rem;
}

h3, .h3 {
  font-size: 1.4rem;
}

h4, .h4 {
  font-size: 1.2rem;
}

// Paragraph & Typographic
p {
  font-weight: normal;
  line-height: 1.3;
  font-size: 1.1rem;
  color: $grey;
  margin: 0.66em 0;
}

p.lead {
  font-size: 1.3rem;
}

ul.list-style-none {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin: 1rem 0;
}
.muted {
  opacity: 0.6;
}

.bold {
  font-weight: 800;
}

.uppercase {
  text-transform: uppercase;
}

.no-text-transform {
  text-transform: none;
}

.font-size-inherit {
  font-size: inherit !important;
}

// Links
a {
  font-size: 1.1rem;
  color: $primary-color;
  word-wrap: break-word;
}

a:hover, a:focus {
  color: $primary-color;
  outline: 0;
  text-decoration: underline;
}
