$font-train: "Calibri Bold", "Helvetica", "Arial", sans-serif;

$primary-color: #1dac98;
$secondary-color: #232721;

// mainly used for fonts
$light-grey: #e6e6e6;
$dark-grey: #414243;
$white: #ffffff;
$black: #1d1d1e;

// Backgrounds
$grey-bg: #d3d2c5;

// border-radius
$border-radius: 8px;

.primary-color {
  color: $primary-color;
}

.grey {
  color: $light-grey;
}

.bg-white {
  background-color: white;
}

.bg-secondary {
  background-color: $secondary-color;
}

.bg-primary {
  background-color: $primary-color;
}

.bg-grey {
  background-color: $grey-bg;
}

.white-letters {
  h1, h2, h3, p, a, li {
    color: white;
  }
}
