<section id="experiencias", class="bg-grey center">
  <div class="container">
    <h2>Experiencias</h2>
    <p>Todos nuestros tours incluyen experiencias de aventura, cultura y gastronomía. </p>
    <div class="row">
      <ul>
        <li>
          <%= image_tag "gente.jpg", class: "img-responsive center-block" %>
          <span class="text-content uppercase"><span class="hovercenter">Gente</span></span>
        </li>
        <li>
          <%= image_tag "cultura.jpg", class: "img-responsive center-block" %>
          <span class="text-content uppercase"><span class="hovercenter">Gente</span></span>
        </li>
        <li>
          <%= image_tag "aventura.jpg", class: "img-responsive center-block" %>
          <span class="text-content uppercase">
            <span class="hovercenter">
              <h4>Vive la Aventura de cerca</h4>
              <hr>
              <p>
                ¿Te gusta la aventura? Escala tres de los volcanes más impresionantes de
                Guatemala en este tour. Además, tu viaje estaría apoyando al fondo de becas
                de IGO, una institución que promueve el emprendimiento en los jóvenes del país.
              </p>
            </span>
          </span>
        </li>
        <li>
          <%= image_tag "lugares.jpg", class: "img-responsive center-block" %>
          <span class="text-content uppercase"><span class="hovercenter">Gente</span></span>
        </li>
      </ul>
    </div> <!-- end row 2 -->
  </div>
</section>
